<div class="container" style="background-color: mediumspringgreen;">
    <div class="row ">
        <div class="col-lg-12 " style="margin-top: 5vh;">
            <div class="row">
                <div class="col-lg-12">
                    <h1><b>ADD STUDENT</b></h1>
                </div>
            </div>
            <br>
            <form [formGroup]="student">
                <div class="row">
                    <div class="col-lg-6">
                        <label for=""><b>Name</b></label>
                        <input type="text" class="form-control search" id="name" formControlName="name" placeholder="EnterName">
                        <br>
                        </div>
                 </div> 
                    <div class="row">
                        <div class="col-lg-6">
                        <label for=""><b>Batch Number</b></label>
                        <input type="number" class="form-control search" id="batchNo" formControlName="batchNo" placeholder="Enter batch Number">
                    </div>
                        <br>
                    </div>
                
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <label for=""><b>Phone</b></label>
                        <input type="text" class="form-control search" formControlName="phoneNo" placeholder="Enter phoneNo">

                        <br>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-lg-6">
                        <label for=""><b>Course</b></label>
                        <input type="text" class="form-control search" id="course" formControlName="course" placeholder="Enter course">
                        <br>
                    </div>
                </div>
                
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-dark " value="Add Student" (click)="addStudent()" [disabled]="!student.valid">
                    </div>
                </div>
            </form>
            <br>

        </div>
    </div>
</div>
